<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>iCasa Network Status</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script src="/assets/js/jquery-3.1.1.min.js"></script>
        <link rel="stylesheet" href="/assets/css/test.css" media="screen"/>
    </head>
    <body>
        <div class="container">
            <h1>Test page</h1>

        </div>


            <svg>
            <circle cx="60" cy="60" r="30" style="fill:red;" stroke="black" stroke-width="3"></circle>
                <rect x="90" y="30" width="200" height="60" fill="rgba(100,5,100,0.5)"></rect>
                </svg>
        <script src="/assets/js/erase.js"></script>
    </body>
</html>