<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8"/>
  <title>iCasa Network Status</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="/assets/css/test.css" media="screen"/>
</head>
<body>
  <div class="container">
    <h1>Test page</h1>

  </div>

  <script src="/libs/jquery.min.js"></script>
  <script src="/libs/js/bootstrap.min.js"></script>
  <script>
    $(function() {
      $("h1").css("color", "white").css("background-color", "green");
    });
  </script>
</body>
</html>