<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title>iCasa Network Status</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="/assets/js/grp.v1.js"></script>
    <script src="/assets/js/jquery-3.1.1.min.js"></script>
    <script src="/assets/js/d3.v4.min.js"></script>
    <link rel="stylesheet" href="/assets/css/test.css" media="screen"/>
</head>
<style> /* set the CSS */

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text { font: 12px sans-serif; }

.node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

</style>
<body>
<script>
    $.ajax({url: "http://localhost:9000/manager/context", type: "GET"}).done(function(resources){
        NuberOfCtxtElements=resources.length;
        var numberOfbubbles=resources.length;
        console.log("________________________________________________________________________________JSON READ:");
         console.log(resources);
         console.log(NuberOfCtxtElements);
         console.log("________________________________________________________________________________context entities");

         JSONo=resources[1];
         console.log(JSONo);

         console.log("-------------------------------------JS VAR/");

         console.log("________________________________________________________________________________JS OBJ int");
         var  obj = JSONo["id"];
         console.log("JSON export OK?");
         console.log(obj);
         console.log("-------------------------------------JS OBJ int/");

         console.log("________________________________________________________________________________JSON of JSON");
         console.log(JSONo["functional_core"]);
         console.log("________________________________________________________________________________");
         console.log(JSONo["functional_core"]["states"]);
        });
</script>







<script src="/assets/js/erase.js"></script>
<script>
    //circle.style("fill", "steelblue");
    //circle.attr("r",30);

    var years=[1,2,3];

    function square(){
        var svg = d3.select("body").append("svg");
        var buttons = d3.select ("body")
            .append("div")
            .attr("class","testButton")
            .selectAll("div")
            .data(years)
            .enter()
            .append("div")
            .text(function (d) {
                return d;
            });
        buttons.on("click",function (d) {
            d3.select(this)
                .transaction()
                .duration(500)
                .style("background","lightBlue")
                .style("color","white");
            update(d);
        });


        svg.attr("width", 1500);

        var rect = svg.append("rect")
            .attr("x", 50)
            .attr("y", 50)
            .attr("width", 200)
            .attr("height", 200)
            .attr("fill", "rgba(0,255,0,0.5)");
    }
    square();
</script>
<div class="container">
    <h1>Wisdom SPA</h1>
    <ul></ul>
</div>

<script src="/libs/jquery.min.js"></script>
<script src="/libs/js/bootstrap.min.js"></script>

</body>
</html>