<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title>iCasa Network Status</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="/assets/js/grp.v1.js"></script>
    <script src="/assets/js/jquery-3.1.1.min.js"></script>
    <script src="/assets/js/d3.v4.min.js"></script>
    <link rel="stylesheet" href="/assets/css/icStyle.css" media="screen"/>
</head>
<body>
<div id="header">
    <h1>iCasa network visualization</h1>
    <div id="mainNav">
        <a href="#runtime" class="active">Runtime</a>
        <a href="#context">Context</a>
        <a href="#services">Services</a>
    </div>
    <p id="menuoptions">Available views: <a href="total.html">remote</a> | <a href="local.htm">Local</a> | <strong>Total</strong></p>
</div>



<div id="content">
    <div class="infopanel">
        <div class="idtitle">id: string</div>
        <div class="functionalCore">functional core: context impl</div>
        <div class="functionalExtensions">
            <ul> functional extensions
                <li>ext 1</li>
                <li>ext 2</li>
                <li>ext 3</li>
            </ul>
        </div>
        <div>use: context use</div>
        <div>origin</div>

    </div>
    <div id="runtime">runtime...</div>
    <div id="context">context...</div>
    <div id="services">services...

    </div>
</div>

<div id="footer">
    <div>
        <div>
            <script src="/assets/js/globals.js">//set the global layout</script>
            <script src="/assets/js/runtime.js">//bubble party</script>
            <script src="/assets/js/context.js"></script>
            <script src="/assets/js/services.js">//tree</script>
            <script src="/assets/js/navigation.js">//navigation</script>
        </div>
    </div>
</div>











</body>
</html>